/* colours
Text #343A40
Watermelon #ff3b3f
Light Blue #caebf2
Grey #a9a9a9
Neutral #efefef
*/

html,
body,
main {
    height: 100%;
}

body {
    background-image: url(../img/dust_scratches1.png);
    background-repeat: repeat;
    color: #343A40;
}

.gift-card-card {
    max-width: 237px;
}

.gift-card-card-large {
    max-width: 300px;
}

.gift-card-card a {
    color: #343A40;
    margin-top: 0;
}

.gift-card-card .card-body {
    padding-top: 0.5rem;
}

.ui-slider-range {
    background: #007bff;
}

.ui-widget {
    font-size: 1.5rem;
}

.ui-slider-handle {
    z-index: 1 !important;
}

.home-hero {
    /* color: white; */
    /* min-height: 50vh; */
    background-image: url(../img/gift-cards-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: #a9a9a9;
    border-bottom-style: solid;
    border-width: 1px;
}

.hr-section {
    background-color: #ff3b3f;
    height: 20px;
}

.red-arrow {
    margin-bottom: 100px;
}

.btn-primary {
    color: #fff;
    background-color: #ff3b3f;
    border-color: #ff3b3f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d82f32;
    border-color: #d82f32;
}

.btn-secondary {
    color: #fff;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #929292;
    border-color: #929292;
}
